<template bindable="router">  
  <div class="main-nav">
    <div class="navbar navbar-inverse">
      <div class="clearfix"></div>
      <div class="navbar-collapse collapse">
        <a class="navbar-brand" href="#/home">Aurelia</a>
        <ul class="nav navbar-nav">
          <li repeat.for="row of router.navigation" class="${ row.isActive ? 'link-active' : '' }">
            <a href.bind="row.href">
              <span class="mdi mdi-${ row.settings.icon }"></span> ${ row.title }
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
