<span>
    
    <button class="mdc-button mdc-button--compact" data-demo-no-js="">
        
        <span className="sort-indicator">
            <span *ngIf="this.isCurrentSortAsc" class="mdi mdi-arrow-up"></span>
            <span *ngIf="this.isCurrentSortDesc" class="mdi mdi-arrow-down"></span>
            <span *ngIf="!this.isCurrentSortDesc && !isCurrentSortAsc"
                  className="available-sort-indicator">
                <span className="mdi mdi-sort"></span>
            </span>
        </span>
        {{this.text}}
    </button>    
</span>