<#@ template language="C#"  linePragmas="false" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
using System;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;
using System.Linq;
using Voodoo.Messages;
<#foreach (var item in File.UsingStatements){#>
using <#=item#>;
<#}#>

namespace <#=this.File.Namespace#>
{
    public class <#=this.File.Name#> : PagedRequest
    {

		<#if(this.File.Type.HasActiveFlag){#>
		public bool IncludeInactive {get;set;}
		<#}#>		

		public override string DefaultSortMember
        {
            get { 
			<#if(this.File.Type.HasName){#>
			return "Name";
			<#} else if(this.File.Type.HasId){#>
			return "Id";
			<#} else {#>
			return null;
			<#}#>

			}
        }
    }
}