    <div class="row pager-container">
        <div class="pagination"
             *ngIf="hasRecords"
             style="margin: 0px 0px 0px 0px;">
            <div style="float: left; margin-right: 20px; white-space: nowrap;">
                <label style="float: left; margin-right: 4px; margin-top: 6px;">Page Size</label>
                <select [(ngModel)]="pagedResult.PaginationInfo.PageSize" (change)="changePageSize()"

                        class="form-control" style="width: 80px; float: left;">
                    <option>10</option>
                    <option>25</option>
                    <option>50</option> 
                    <option>100</option>
                </select>
            </div>
            <div style="float: left; vertical-align: top;">
                <ul class="pagination" style="margin: 0px 0px 0px 0px;">
                    <li [ngClass]="{'disabled':isFirstPage}">
                        <a [class.disabled]="isFirstPage"
                           (click)="!isFirstPage && firstPage()">&laquo;</a>
                    </li>
                    <li [ngClass]="{'disabled':isFirstPage}">
                        <a [class.disabled]="isFirstBlock"
                           (click)="!isFirstBlock && prevBlock()">...</a>
                    </li>
                    <li [ngClass]="{'disabled':isFirstPage}">
                        <a [class.disabled]="isFirstPage"
                           (click)="!isFirstPage && prevPage()">&lt;</a>
                    </li>
                    <li *ngFor="let block of pageBlock" [ngClass]="{'active':block.isActive}">
                        <a (click)="page(block.page)">{{block.page}}</a>
                    </li>
                    <li [ngClass]="{'disabled':isLastPage}">
                        <a [class.disabled]="isLastPage"
                           (click)="!isLastPage && nextPage()">&gt;</a>
                    </li>
                    <li [ngClass]="{'disabled':isLastBlock}">
                        <a [class.disabled]="isLastBlock"
                           (click)="!isLastBlock && nextBlock()">...</a>
                    </li>
                    <li [ngClass]="{'disabled':isLastPage}">
                        <a [class.disabled]="isLastPage"
                           (click)="!isLastPage && lastPage()">&raquo;</a>
                    </li>
                </ul>
                <div>
                    {{recordsVerbiage}}
                </div>
            </div>

        </div>
        <div id="norecords" *ngIf="!hasRecords">
            <h3>No records found</h3>
        </div>
    </div>