<#@ template language="C#"  linePragmas="false" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ template language="C#"  linePragmas="false" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

<#foreach (var item in this.File.UsingStatements){#>
using <#=item#>; 
<#}#>

namespace <#=this.File.Namespace#>
{
    <#=this.File.Tests.ClassLevelAttribute#>
    public class <#=this.File.Name#> 
    {
        <# if (this.File.Type.HasId) {#>
		<#=this.File.Tests.TestLevelAttribute#> 
        public async Task <#=this.File.Type.Name#>DeleteCommand_ValidRequest_IsOk()
        {
            var model = await <#=this.File.Type.Name#>TestHelper.GetExisting<#=this.File.Type.Name#>();
			var request = new IdRequest { Id=model.Id };
			var command = new <#=this.File.Type.Name#>DeleteCommand(request);

            var response = await command.ExecuteAsync();
            
			response.Details.Should().BeEmpty();
            response.Message.Should().Be(<#=this.File.Type.Name#>Messages.DeleteOk);
            response.IsOk.Should().BeTrue();
        }
		<#}#>

    }
}
