<div class="mdc-card" id="file-drop-container">
    <section class="mdc-card__supporting-text">
        <h4>Camera Upload</h4>
        <input type="file" id="cameraUpload" />
        <!--<label class="cameraButton">Take a picture
            <input type="file" accept="image/*;capture=camera">
            <p>Capture Image: <input type="file" accept="image/*" id="capture" capture="camera"> 
        </label>-->
    </section>
    <section class="mdc-card__supporting-text">
        <h4>File Upload</h4>
        <div class="panel-body fileZone" style="padding: 0px !important;">
            <div class="panel-heading" style="text-align: center">
                Drop a file inside
            </div>
            <p style="text-align: center">
                Or click here to <em>Browse</em>
            </p>

            <!--<div class="progress" style="display: none">
                <div class="progress-bar bar_fileZone" role="progressbar" style="display: none"
                     aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>-->

            <p class="progress" id="progressText">
               
            </p>
        </div>
    </section>
</div>


